.status-badge{
    font-size:95%;
    color:#ffffff;
    font-weight:600;
}

.expired{
    background-color:#fe0000;
}

.menjelang-expired{
    background-color:#f5a003;
}

.belum-expired{

}

.btn-pencarian{
    width:50%;
}

.btn-pencarian.aktif{
    background-color:#1ed760;
}